@import "~bootstrap/scss/bootstrap";

header {
    padding-bottom: 10px ;
    background-color: white;

    nav {
        .img-container {
            height: 80px;
            width: 80px;
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}
